/*@import url('../dist/LeafletStyleSheet.css');
*/
body {
    padding: 0;
    margin: 0;
}


html, body, #map {
/*    position: relative; 

	direction: rtl;*/
    height: 100%;
    /*margin-top: 50px;*/
}

/*!!!*/

        .info {
            direction: rtl;
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            width: 130px;
            text-align: left;
            line-height: 20px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }



/*!!!*/


.leaflet-popup-content {
	direction: rtl;
	text-align: right;
}

/*
.legend label,
.legend span {
    direction: rtl;
    display:block;
    float:left;
    height:15px;
    width:13%;
    text-align:center;
    font-size:10px;
    color:#808080;
}

.legend-title {
    direction: rtl;
}*/